@model classProject.Models.Post;

@{
  ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="PostId" />
      @await Html.PartialAsync("_CreateEditPartial.cshtml", Model)
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@foreach (var comment in Model.Comments)
{
  <div class="row">
    <div class="col-md-4">
      @comment.User.Email
    </div>
    <div>
      @comment.CommentBody
    </div>
  </div>
}

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}